.gallery {
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--darkPrimary);
        padding-bottom: 70px;

        .model {
            width: fit-content;
            margin: 0 auto;
            font-size: 60px;
        }

        .card {
            display: grid;
            grid-template-columns: 15% 65% 20%;
            grid-template-rows: 20% 65% 15%;
            grid-template-areas:
                "mini motor info"
                "mini img info"
                "mini desc info";
            background: var(--primary);
            width: 100%;
            height: 450px;
            font-family: "Ropa Sans", sans-serif;

            .miniature {
                grid-area: mini;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .miniImg {
                    border: solid 3px var(--storkegray);
                    height: 120px;
                    width: 170px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            .motor {
                grid-area: motor;
                align-self: center;
                font-size: 64px;
                padding: 0 10px;
            }

            .info {
                grid-area: info;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px 0;
                padding-right: 10px;
                text-align: center;

                .speed,
                .power {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h3 {
                        font-size: 50px;
                    }
                    p {
                        font-size: 30px;
                        color: var(--pastelRed);
                    }
                }
            }

            .img {
                grid-area: img;
                align-self: center;
                justify-self: center;
                width: 80%;
                height: 80%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .description {
                grid-area: desc;
                align-self: center;
                padding: 0 10px;
                padding-bottom: 15px;
            }

            @media screen and (max-width: 1150px) {
                height: 800px;

                .miniature {
                    gap: 10px;
                    padding: 0 10px;

                    .miniImg {
                        width: 100%;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 780px) {
            padding-bottom: 40px;

            .model {
                font-size: 45px;
            }

            .card {
                grid-template-rows: 25% 15% 50% 10%;
                grid-template-areas:
                    "mini mini mini"
                    "motor motor info"
                    "img img info"
                    "desc desc info";

                .miniature {
                    flex-direction: row;
                    padding: 10px;

                    .miniImg {
                        height: 100%;
                        width: auto;
                        max-width: 32%;
                    }
                }

                .motor {
                    font-size: 50px;
                }

                .info {
                    .speed,
                    .power {
                        h3 {
                            font-size: 30px;
                        }
                        p {
                            font-size: 22px;
                            color: var(--pastelRed);
                        }
                    }
                }
            }
        }

        
    }
}
