.about {
    padding: 200px 50px;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 100px;

        .article1,
        .article2 {
            display: flex;
            justify-content: center;
            gap: 80px;
            width: 100%;
            height: 100%;

            .img {
                width: 400px;
                aspect-ratio: 10/16;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 800px;
                padding: 5% 0;
                font-family: "Ropa Sans", sans-serif;
                font-size: 28px;
            }
        }

        .article2 {
            .img {
                width: 320px;
            }
        }
    }

    @media screen and (max-width: 1070px) {
        section {
            .article1, .article2 {
                .text {
                    font-size: 22px;
                }
            }
        }
    }

    @media screen and (max-width: 950px) {
        section {

            .article1, .article2 {
                gap: 40px;
                
                .img {
                    width: 300px;
                }

                .text {
                    padding: 0;
                }
            }
        }
    }

    @media screen and (max-width: 870px) {
        section {

            .article1, .article2 {
                flex-direction: column;
                align-items: center;
                
                .img {
                    width: 80%;
                }
                
                .text {
                    width: 100%;
                    font-size: 18px;
                    gap: 20px;
                }
            }

            .article2 {
                flex-direction: column-reverse;
            }
        }
    }
}
