.gallery {
    padding-top: 85px;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .slider {
        transform: translateX(-20px);
        background: var(--primary);
        height: 20%;

        .swiper {
            overflow: visible;
            height: 100%;

            .swiper-wrapper {
                display: flex;
                align-items: center;

                .swiper-slide {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    aspect-ratio: 1/1;
                    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                    .img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 70%;
                        height: 70%;
                        padding: 20px;
                        background: var(--secondary);

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    .price {
                        opacity: 0;
                        position: absolute;
                        transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    }

                    &.swiper-slide-active {
                        transform: scale(1.5, 1.5) translateY(-60px);
                        margin: 0 20px;

                        .price {
                            opacity: 1;
                            padding: 8px 15px;
                            position: absolute;
                            transform: translateY(65px);
                            border-radius: 8px;
                            font-family: "Ropa Sans", sans-serif;
                            font-size: 12px;
                            color: var(--contrast);
                            background: var(--white);
                        }

                        .img {
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 9px 16px;
                        }
                    }
                    &.swiper-slide-next,
                    &.swiper-slide-prev {
                        transform: scale(1.2, 1.2) translateY(-40px);

                        .img {
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        }
                    }

                    @media screen and (max-width: 1270px) {
                        &.swiper-slide-active {
                            transform: scale(1.5, 1.5) translateY(-50px);
                        }
                        &.swiper-slide-next,
                        &.swiper-slide-prev {
                            transform: scale(1.2, 1.2) translateY(-35px);
                        }
                    }

                    @media screen and (max-width: 800px) {
                        &.swiper-slide-active {
                            transform: scale(1.5, 1.5) translateY(-30px);
                            .price {
                                padding: 4px 7px;
                            }
                        }
                        &.swiper-slide-next,
                        &.swiper-slide-prev {
                            transform: scale(1.2, 1.2) translateY(-15px);
                        }
                    }

                    @media screen and (max-width: 540px) {
                        &.swiper-slide-active {
                            .price {
                                transform: translateY(45px);
                                font-size: 10px;
                            }
                        }
                        .img {
                            height: 50%;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1150px) {
        transform: translateY(0);
    }

    @media screen and (max-width: 780px) {
        padding-top: 50px;
    }
}
