.services {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 250px 50px 150px 50px;
    gap: 50px;

    section {
        width: 400px;
        height: 650px;

        .card {
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            overflow: hidden;
            width: 400px;
            height: 100%;
            padding: 70px 40px;
            border-radius: 40px;
            font-family: "Ropa Sans", sans-serif;
            opacity: 0.5;
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            cursor: pointer;

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -10;
                width: 100%;
                height: 100%;
                filter: brightness(0.2) blur(1px);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .img {
                width: 100%;
                height: auto;
                aspect-ratio: 16/9;
                border-radius: 8px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            a {
                display: none;
                padding: 5px 10px;
                background: var(--secondary);
                width: fit-content;
            }
            
            h2 {
                font-size: 32px;
            }
            
            p,
            a {
                font-size: 20px;
            }
        }
        
        &.show {
            width: 100px;

            .card {
                left: -150px;
                opacity: 1;
                z-index: 10;
                top: -100px;
                cursor: unset;

                a {
                    display: unset;
                }
            }
        }
        
        @media screen and (max-width: 1075px) {
            width: 300px;
            height: 488px;

            .card {
                width: 300px;
                padding: 40px 30px;

                h2 {
                    font-size: 28px;
                }
                
                p,
                a {
                    font-size: 16px;
                }
    
            }

            &.show {
                width: 50px;
    
                .card {
                    left: -125px;
                    opacity: 1;
                    z-index: 10;
                    top: -100px;
                    cursor: unset;
    
                    a {
                        display: unset;
                    }
                }
            }
        }

        @media screen and (max-width: 790px) {
            
            &.show {
                position: absolute;
            }
        }
    }
}
