//  Colors

:root {
    // Principal
    --primary: #2c2c2c;
    --secondary: #393939;
    --gradient: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(64, 64, 64) 100%);
    // Special
    --orange: #ED8221;
    --yellow: #FBDC49;
    --red: #DF0E03;
}